@model List<HoursPerDayModel>
@{

}



@{
    ViewData["Title"] = "EmployeeDashboard";
}

<h1>EmployeeDashboard</h1>

<table width="100%">
    <thead>
        <tr>
            <th>Taak</th>
            <th>Deadline</th>

        </tr>
    </thead>


    <tbody>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                <td>
                    todo
                </td>
                <td>
                    todo
                </td>
            </tr>
        }
    </tbody>
</table>

<h1>Peronalia</h1>
<table width="100%">
    <tbody>


        @for (int i = 0; i < 5; i++)
        {
            <tr>
                <td>Naam</td>
                <td>Jason</td>
            </tr>

        }

    </tbody>
</table>

<h1>Nieuws</h1>
<table width="50%">
    <tbody>


        @for (int i = 0; i < 5; i++)
        {
            <tr>
                <td>Urenregistratie is goed gekeurd door {rol} </td>
                
            </tr>

        }

    </tbody>
</table>
