@model List<HoursPerDayModel>
@{

}



@{
    ViewData["Title"] = "EmployeeDashboard";
}



<div class="container">
    <div class="takenlijst">
        <h1>EmployeeDashboard</h1>
        <table width="100%">
            <thead>
                <tr>
                    <th>Taak</th>
                    <th>Deadline</th>

                </tr>
            </thead>


            <tbody>
                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td>
                            todo
                        </td>
                        <td>
                            todo
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
    <div class="personalia">
        <h1>Peronalia</h1>
        <table width="100%">
            <tbody>


                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td>Naam</td>
                        <td>Jason</td>
                    </tr>

                }

            </tbody>
        </table>
    </div>
    
    <div class="nieuws">
        <h1>Nieuws</h1>
        <table width="50%">
            <tbody>


                @for (int i = 0; i < 5; i++)
                {
                    <tr>
                        <td>Urenregistratie is goed gekeurd door {rol} </td>

                    </tr>

                }

            </tbody>
        </table>
    </div>
</div>
