@model Shared.Models.AccountModel

@{
    ViewData["Title"] = "CreateEmployee";
}

<h1 style="text-align:center">Nieuw account aanmaken</h1>

<hr style="margin-top:30px; margin-bottom:30px;"/>
<div> 
    <div>
        <form asp-action="CreateEmployee">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div style="color:#9A33F8">
                <h3>Account Info</h3>
            </div>
            <div id="MostImportantFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div style="text-align:center" class="col-md-6 offset-md-3">
                        <img style="width:180px; height:auto" class="img-fluid" src="~/Images/user-circle-solid.svg" alt="Profielfoto" />
                    </div>
                </div>
                <div style="text-align:center; color:blue; font-size:12px;">
                    Profielfoto wijzigen
                </div>

                <div class="row" style="margin-top:50px;">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="FirstName" class="control-label"></label>
                            <input asp-for="FirstName" class="form-control" />
                            <span asp-validation-for="FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="LastName" class="control-label"></label>
                            <input asp-for="LastName" class="form-control" />
                            <span asp-validation-for="LastName" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="HashedPassword" class="control-label"></label>
                            <input asp-for="HashedPassword" class="form-control" />
                            <span asp-validation-for="HashedPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="HashedPassword" class="control-label"></label>
                            <input asp-for="HashedPassword" class="form-control" />
                            <span asp-validation-for="HashedPassword" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top:30px; margin-bottom:30px;" />

            <div style="color:#9A33F8">
                <h3>Persoonlijke Info</h3>
            </div>
            <div id="PersonalInfoFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="DateOfBirth" class="control-label"></label>
                            <input asp-for="DateOfBirth" class="form-control" />
                            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="MobilePhone" class="control-label"></label>
                            <input asp-for="MobilePhone" class="form-control" />
                            <span asp-validation-for="MobilePhone" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label asp-for="IBAN" class="control-label"></label>
                            <input asp-for="IBAN" class="form-control" />
                            <span asp-validation-for="IBAN" class="text-danger"></span>
                        </div>
                    </div>
                </div>

            </div>

            <hr style="margin-top:30px; margin-bottom:30px;" />

            <div style="color:#9A33F8">
                <h3>Adresgegevens</h3>
            </div>
            <div id="LivingInfoFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input asp-for="Address" class="form-control" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label asp-for="ZIP" class="control-label"></label>
                            <input asp-for="ZIP" class="form-control" />
                            <span asp-validation-for="ZIP" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="City" class="control-label"></label>
                            <input asp-for="City" class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>

            <hr style="margin-top:30px; margin-bottom:30px;" />

            <div style="color:#9A33F8">
                <h3>Rol van de Gebruiker</h3>
            </div>
            <div id="UserRoleFields" style="border: 3px solid #9A33F8; padding: 10px">
                <div class="row">
                    <div class="col">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input id="checkTrainee" onclick="onlySelectOne(this.id)" class="form-check-input" asp-for="IsTrainee" /> @Html.DisplayNameFor(model => model.IsTrainee)
                            </label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input id="checkQienEmployee" onclick="onlySelectOne(this.id)" class="form-check-input" asp-for="IsQienEmployee" /> @Html.DisplayNameFor(model => model.IsQienEmployee)
                            </label>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                <input id="checkSeniorDeveloper" onclick="onlySelectOne(this.id)" class="form-check-input" asp-for="IsSeniorDeveloper" /> @Html.DisplayNameFor(model => model.IsSeniorDeveloper)
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            @*<div class="form-group">
            <label asp-for="AccountId" class="control-label"></label>
            <input asp-for="AccountId" class="form-control" />
            <span asp-validation-for="AccountId" class="text-danger"></span>
        </div>*@


            @*<div class="form-group">
            <label asp-for="CreationDate" class="control-label"></label>
            <input asp-for="CreationDate" class="form-control" />
            <span asp-validation-for="CreationDate" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProfileImage" class="control-label"></label>
            <input asp-for="ProfileImage" class="form-control" />
            <span asp-validation-for="ProfileImage" class="text-danger"></span>
        </div>*@


            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AccountOverzicht">Back to List</a>
</div>

