@model Shared.Models.AccountModel
@{
    ViewData["Title"] = "Create Employee";
}

@using (Html.BeginForm("CreateEmployee"))
        { 
            <div class="FormCreateEmployee">
                <div>
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName"/>
                </div>
                <div>
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" />
                </div>

            </div>
            
        }