@model Shared.Models.ClientModel

@{
    ViewData["Title"] = "Add a new client";

}
    <style>
#header{
      margin-top: 100px;
      width:80%;
      border: none;
      background-color: #9A33F8;
      padding: 40px;
      }
</style>

<div>
    <tabel id="header" >
        Opdrachtgever aanmaken
    </tabel>
</div>
    <div>
<form asp-controller="" asp-action="" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="CompanyName"></label>
        <input class="form-control" asp-for="CompanyName" />
        <span asp-validation-for="CompanyName"></span>
    </div>
    <div class="form-group">
        <label asp-for="AccountId"></label>
        <input class="form-control" asp-for="AccountId" />
        <span asp-validation-for="AccountId"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientName1"></label>
        <input class="form-control" asp-for="ClientName1" />
        <span asp-validation-for="ClientName1"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientEmail1"></label>
        <input class="form-control" asp-for="ClientEmail1" />
        <span asp-validation-for="ClientEmail1"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientName2"></label>
        <input class="form-control" asp-for="ClientName2" />
        <span asp-validation-for="ClientName2"></span>
    </div>
    <div class="form-group">
        <label asp-for="ClientEmail2"></label>
        <input class="form-control" asp-for="ClientEmail2" />
        <span asp-validation-for="ClientEmail2"></span>
    </div>
    <input type="submit" value="Create" />
</form>
</div>
